<!DOCTYPE html>
<html>
<head>
  <title>Rails Interview Project - Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rails Interview Project - Dashboard</a>
    </div>
  </div>
</nav>
<br/>

<div style="width:90%;padding-left:10%;">
  <ul class="list-group">
    <li class="list-group-item active">Entity:<span class="badge">Count</span></li>
    <li class="list-group-item">Tenants:<span class="badge"><%= @tenants.count > 0 ? @tenants.count : 0 %></span>
    </li>
    <li class="list-group-item">Users:<span class="badge"><%= @users.count > 0 ? @users.count : 0  %></span>
    </li>
    <li class="list-group-item">Questions:<span class="badge"><%= @questions.count > 0 ? @questions.count : 0  %></span>
    </li>
    <li class="list-group-item">Answers:<span class="badge"><%= @answers.count > 0 ? @answers.count : 0  %></span>
    </li>
  </ul>
</div>

<div style="width:90%;padding-left:10%;">
  <ul class="list-group">
      <li class="list-group-item active">Tenant:<span class="badge">Requests</span></li>
    <% @tenants.each do |t| %>
      <li class="list-group-item"><%= t.name %><span class="badge"><%= t.request_count? ? t.request_count : 0 %></span></li>
    <% end %>
  </ul>
</div>

<div class="table-responsive" style="width:90%;padding-left:10%;">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tenant</th>
      <th scope="col">Api Key</th>
      <th scope="col">Api Request</th>
    </tr>
    </thead>
    <tbody>
    <% @tenants.each do |t| %>
      <tr>
        <th class="text-nowrap" scope="row"><%= t.name %></th>
        <td><%= t.api_key %></td>
        <td align="center"><%= link_to "Api Request", "/api/v1/questions/20?api_key=#{t.api_key}", target: :_blank, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
